@(camp: String)
<table class="table">
      <thead>
         <tr>
            <th> Title </th>
            <th> Director </th>
			<th> @camp </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="movie in movies">
            <td> {{movie.title}} </td>
             <td> {{movie.director}} </td>
             <td> 
                <button ng-click="edit(movie)">Edit</button> 
                <button ng-click="delete(movie)"> Delete </button>
             </td>
         </tr>   
      </tbody>
   </table>